.vscode
*.py[cod]

/**/tmp
/**/.cache
/**/__pycache__
/**/.ipynb_checkpoints
/**/.DS_Store

# Data symlinks
/pycls/datasets/data/*
!/pycls/datasets/data/readme.md
/pyssr/datasets/data/*
!/pyssr/datasets/data/readme.md